.table-container {
    margin-top: 20px;
}

table {
  width: 100%;
  min-width: 750px;
  border-collapse: collapse;
  border: 1px solid;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.Actions {
  text-align: center;
}

.EditFunction {
  margin: 0 10px;
  color: blue;
  cursor: pointer;
}

.DeleteFunction {
  margin: 0 10px;
  color: red;
  cursor: pointer;
}